
.outer {
  color: white;
  font-weight: bold;
  background-color: black;
  font-size: 17px;
}

table {
  border: 3px solid grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
  padding: 15px;
  text-align: center;
  border: 2px solid black;
}

caption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
